@font-face {
    font-family: 'iconfont';
    /* project id 913972 */
    src: url('//at.alicdn.com/t/font_913972_7ej1xtvjd3w.eot');
    src: url('//at.alicdn.com/t/font_913972_7ej1xtvjd3w.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_913972_7ej1xtvjd3w.woff') format('woff'),
        url('//at.alicdn.com/t/font_913972_7ej1xtvjd3w.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_913972_7ej1xtvjd3w.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}